@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root {
  --primary-color: #5ca5a5;
  --background-color-body: hsl(180, 52%, 96%);
  --secondary-dark: #7c8f8f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-color: var(--background-color-body);
}

h1 {
  font-size: 18px;
  margin-bottom: 16px;
}

h1:hover {
  color: var(--primary-color);
  cursor: pointer;
}

h2 {
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.header {
  height: 156px;
  background-color: var(--primary-color);
  background-image: url("./images/bg-header-desktop.svg");
}

.jobs-container {
  max-width: 1110px;
  margin: 76px auto;
  padding: 0 16px;
}

.job {
  padding: 32px 40px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 20px 0 rgba(13, 113, 130, 0.15);
}

.featured {
  border-left: 6px solid var(--primary-color);
}
/* JOB DETAILS CSS */
.job-details {
  margin-left: 24px;
}

.new-span,
.featured-span {
  font-size: 11px;
  color: #fff;
  padding: 8px;
  border-radius: 12px;
}

.new-span {
  background-color: var(--primary-color);
  margin-left: 40px;
}

.featured-span {
  background-color: #000;
  margin-left: 16px;
}

p > span {
  color: var(--secondary-dark);
  margin-bottom: 8px;
}

p > span:after {
  content: "•";
  margin: 0 20px;
  color: var(--secondary-dark);
}
P > span:last-child:after {
  content: "";
}

/* JOB TAGS CSS */
.job-tags {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.job-tags > button {
  font-family: Spartan;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  padding: 8px;
  margin: 0 0 16px 16px;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--background-color-body);
}

.job-tags > button:hover {
  color: #fff;
  cursor: pointer;
  background-color: var(--primary-color);
}

/* FILTERS */
.filters-container {
  margin: -36px auto 0 auto;
  padding: 0 16px;
  max-width: 1110px;
}

.filters-wrapper {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 20px 0 rgba(13, 113, 130, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.clear {
  border: 0;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
  color: var(--primary-color);
}

.clear:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filter-tag,
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-tag {
  font-size: 13px;
  font-weight: bold;
  margin-right: 16px;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--background-color-body);
}

.filter-name {
  padding: 10px;
}

.filter-button {
  border-radius: 0 5px 5px 0;
  color: #fff;
  padding: 9px;
  background-color: var(--primary-color);
}

.filter-button:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

hr {
  display: none;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .header {
    background-image: url("./images/bg-header-mobile.svg");
  }

  .job {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px 24px;
    margin-bottom: 40px;
  }
  .job-logo {
    margin-top: -55px;
    position: absolute;
  }
  .job-logo > img {
    width: 44px;
    width: 44px;
  }

  .job-details {
    margin: 0;
    padding: 8px 0 23px 0;
  }

  p > span:after {
    margin: 0 16px;
  }

  .job-tags {
    margin: 0;
  }

  .job-tags > button {
    margin: 16px 16px 0 0;
  }

  hr {
    width: 100%;
    display: block;
    height: 1px;
    border: none;
    background-color: var(--secondary-dark);
  }

  .filters-wrapper {
    padding: 24px 24px 8px;
  }

  .filters {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .filter-tag {
    margin: 0 16px 16px 0;
  }
}
